.c {
  position: relative;
  max-width: 1400px;
  margin: auto;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-info {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
}

.box-info {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(96, 119, 95, 0.671);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-info:hover {
  transition: all 0.3s ease;
  background-color: rgba(96, 119, 95, 0.671);
  color: white;
  border: 1px solid white;
}

.info-icon {
  margin: auto;
  font-size: 25px;
}

.info-title {
  margin: auto;
}

.info-contact {
  margin: auto;
}

.sendMessage {
  margin: auto;
  font-size: 13px;
  color: rgb(75, 75, 255);
  transition: all 0.3s ease;
}

.sendMessage:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.c-title {
  font-size: 60px;
  width: 80%;
  margin-bottom: 40px;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-desc {
  font-weight: 200;
}

form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  color: white;
  background-color: rgba(96, 119, 95, 0.671);
  border: 1px solid rgba(96, 119, 95, 0.671);
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: rgba(96, 119, 95, 0.671);
}

@media screen and (max-width: 1115px) {
  .c-title {
    font-size: 40px;
  }
  .c-info {
    grid-template-columns: 70%;
  }
}

@media screen and (max-width: 835px) {
  .c-title {
    font-size: 30px;
  }
  .c-info {
    grid-template-columns: 80%;
  }
}

@media screen and (max-width: 735px) {
  .c-wrapper {
    padding: 20px;
    flex-direction: column;
  }
  .c-title {
    font-size: 30px;
  }
  .c-info {
    grid-template-columns: 95%;
  }
  .c-desc {
    display: none;
  }
  .mobInput {
    width: 95%;
  }
}
