.i {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.i * {
  transition: 0.3s all ease;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.i-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.right-img {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.right-img:hover {
  transform: translate(-40%, -57%);
}

.right-imgBg {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -57%);
  align-items: center;
  justify-content: center;
  background-color: rgba(96, 119, 95, 0.671);
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
  z-index: -1;
}

.i-left-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
  color: rgba(96, 119, 95, 0.671);
}

.i-title {
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(96, 119, 95, 0.671);
  display: flex;
  align-items: center;
}

.i-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.i-img {
  width: 500px;
  height: 500px;
  align-items: center;
  object-fit: cover;
}

.i-bg {
  height: 500px;
  width: 500px;
}

/* ==== SOCIAL ==== */
.header_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 70px;
  bottom: 30px;
}

.header_social a {
  color: rgba(96, 119, 95, 0.671);
}

.header_social a:hover {
  color: #567269;
}

.header_social::after {
  content: "";
  width: 1px;
  height: 20px;
  background: rgba(96, 119, 95, 0.671);
}
/* ==== SOCIAL ==== */

@media screen and (min-width: 1600px) {
  .right-img {
    max-width: 650px;
    max-height: 650px;
  }

  .right-imgBg {
    max-width: 650px;
    max-height: 650px;
  }
  .i-img {
    width: 650px;
    height: 650px;
  }
  .i-bg {
    width: 650px;
    height: 650px;
  }
}

@media screen and (max-width: 1060px) {
  .i-img {
    width: 400px;
    height: 400px;
  }
  .i-bg {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 910px) {
  .i-name {
    font-size: 40px;
  }
}

@media screen and (max-width: 858px) {
  .i-img {
    width: 350px;
    height: 350px;
  }
  .i-bg {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 720px) {
  .i-img {
    width: 300px;
    height: 300px;
  }
  .i-bg {
    width: 300px;
    height: 300px;
  }
  .i-intro {
    font-size: 20px;
  }
  .i-name {
    font-size: 30px;
  }
  .i-title-item {
    font-size: 23px;
  }
}

@media screen and (max-width: 603px) {
  .i-img {
    width: 250px;
    height: 250px;
  }

  .i-bg {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 555px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    margin-top: -40px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .right-img {
    top: 75%;
  }

  .right-imgBg {
    top: 75%;
  }

  .i-img {
    width: 275px;
    height: 275px;
  }

  .i-bg {
    width: 275px;
    height: 275px;
  }

  .header_social {
    position: absolute;
    right: 20px;
    bottom: 120px;
  }
}
