.nav {
  position: fixed;
  background: rgba(96, 119, 95, 0.671);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 100;
  bottom: 1.3rem;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  border-radius: 30px;
  backdrop-filter: blur(7px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav a,
.nav p {
  background: transparent;
  padding: 0.9rem;
  font-size: 1.1rem;
  display: flex;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav a:hover {
  transform: scale(1.5);
}

.nav p:hover {
  transform: scale(1.5);
}

.nav a.active {
  transform: scale(1.5);
  color: white;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 555px) {
  .nav {
    bottom: 0.5rem;
  }
}
